*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

.botao-menu {
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: right .7s;
}

.change .botao-menu{
    right: 33rem;
}

.linha {
    width: 100%;
    height: .2rem;
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.8);
}

.change .linha-1 {
    transform: rotate(45deg)
    translate(0.3rem, 0.8rem);
}

.change .linha-2 {
    opacity: 0;
    visibility: hidden;
}

.change .linha-3 {
    transform: rotate(-45deg)
    translate(0.3rem, -0.8rem);
}

.header {
    width: 100%;
    height: 100vh;
}

.img-wrapper {
    width: 100%;
    height: 100%;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
    letter-spacing: .2rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .8);
    color: white;
}

.banner h1 {
    font-family: "Baloo Da 2", serif;
    font-size: 8rem;
    font-weight: 300;
}

.banner p {
    font-family: 'Josefin Slab', serif;
    font-size: 5rem;
    font-weight: 500;
}

.barra-lateral {
    width: 40rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -40rem;
    background-color: rgba(220, 220, 220, .9);
    transition: right 0.5s;
    z-index: 100;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.change .barra-lateral {
    right: 0;
}

.menu {
    position: relative;
    bottom: 6rem;
}

.link-menu {
    font-family: 'Baloo Da 2', serif;
    font-size: 4rem;
    color: #555;
    position: relative;
    transition: color 0.3s;
}

.link-menu:hover {
    color: #c29525;
}

.redes-sociais {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.redes-sociais i {
    font-size: 2.2rem;
    margin: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #777;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.redes-sociais i:hover {
    background-color: #c29525;
}

.produto {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.produto-header {
    position: relative;
    top: 4rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .2);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #AAA;
}

.produto-header h3{
    font-family: "Impact", serif;
    font-weight: 100;
    font-size: 6rem;
    letter-spacing: 0.4rem;
}

.produto-header p {
    width: 100rem;
    font-family: "Josefin Slab", serif;
    font-weight: 600;
    font-size: 2rem;
}

.produto-imagem-wrapper{
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.produto-imagem {
    color: white;
    font-size: 2rem;
    font-family: "Josefin Slab", serif;
    font-weight: 200;
}

.nome {
    position: relative;
    font-size: 2rem;
    left: 7rem;
}

.preco {
    position: relative;
    font-size: 1.5rem;
    left: 7rem;
}

.produto-imagem img{
    width: 25vh;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5rem 7rem 0rem 7rem;
    transition: opacity 0.4s;
}

.produto-imagem img:hover{
    opacity: 0.2;
}

.botoes{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 2rem;
}

.botoes button{
    font-family: "Mulish",serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0.3rem;
    width: 2rem;
    height: 2rem;
    border: none;
    transition: background-color 0.15s;
}

.botoes button:hover {
    background-color: #c29525;
}

.produto-imagem button {
    position: relative;
    left: 7rem;
    width: 8rem;
    font-family: 'Mulish', serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.compra{
    background-color: black;
    height: 100vh;
}

.compra-wrapper{
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.compra-wrapper img{
    width: 40vh;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5rem 7rem 0rem 7rem;
    margin: 2rem;
}

.descricao {
    width: 60%;
    text-align: center;
    color: white;
    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 2rem;
}

.compra-nome {
    font-size: 3.2rem;
    font-family: "Josefin Slab",serif;
}

.compra-preco {
    font-size: 2.5rem;
    font-family: "Josefin Slab",serif;
}

.compra-wrapper form {
    margin: 2rem;
    width: 15%;
}

.compra-botao {
    width: 100%;
    font-family: 'Mulish', serif;
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
    transition: background-color 0.4s;
}

.compra-botao:hover {
    background-color: #c29525;
}

.compra-efetuada {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    text-align: center;
    top: 50%;
    font-family: "Mulish", serif;
    font-size: 6rem;
    color: green;
}